<button type="button" class="btn btn-primary btn-circle btn-lg" title="Agregar materia prima" data-toggle="modal" data-target="#exampleModal">+</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="mostrarModalAgregar">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar materia prima</h5>
            </div>
            <div class="modal-body">
                <div class="container">

                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#datosC" role="tab">Datos Materia Prima</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#retencionesC" role="tab">Retenciones</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="datosC" role="tabpanel">

                            <div class="form-group row">
                                <div class="col-4">
                                    <label for="example-text-input" class="col-form-label">Tasa Impositiva</label>
                                </div>
                                <div class="col-8">
                                    <select class="form-control" id="porcentajeIVA" [(ngModel)]="tasaImpositiva">
                                        <option>IVA-0%</option>
                                        <option>IVA-10.5%</option>
                                        <option>IVA-21%</option>
                                        <option>IVA-27%</option>
                                    </select>
                                </div>
                            </div>

                            <input type="text" class="form-control" placeholder="Nombre" aria-describedby="basic-addon1" style="margin-bottom: 4px;" min="1" [(ngModel)]="nombre">

                            <input type="number" class="form-control" placeholder="Cantidad" aria-describedby="basic-addon1" style="margin-bottom: 4px;" min="1" onkeypress="return validateChar(event)" [(ngModel)]="cantidad">

                            <input type="text" class="form-control" placeholder="Unidad" aria-describedby="basic-addon1" style="margin-bottom: 4px;" min="1" [(ngModel)]="unidad">

                            <input type="number" class="form-control" placeholder="Stock Min" aria-describedby="basic-addon1" style="margin-bottom: 4px;" min="1" onkeypress="return validateChar(event)" [(ngModel)]="stockMin">

                            <input type="number" class="form-control" placeholder="Stock Max" aria-describedby="basic-addon1" style="margin-bottom: 4px;" min="1" onkeypress="return validateChar(event)" [(ngModel)]="stockMax">

                            <input type="number" class="form-control" placeholder="Embolsado (default)" aria-describedby="basic-addon1" style="margin-bottom: 4px;" min="1" onkeypress="return validateChar(event)" [(ngModel)]="embolsado">

                            <input type="number" step="0.01" class="form-control" placeholder="Precio Venta" aria-describedby="basic-addon1" style="margin-bottom: 4px;" min="1" onkeypress="return validarPrecioVenta(event)" [(ngModel)]="precioVenta">
                        </div>

                        <div class="tab-pane" id="retencionesC" role="tabpanel">
                            <div class="container">
                                <div class="row">
                                    <div class="col" style="overflow-y: scroll;">
                                        <table class="table">
                                            <thead class="thead-inverse">
                                                <tr>
                                                    <th>Nombre</th>
                                                    <th>Codigo</th>
                                                    <th>Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let retencion of retencionesCliente; let i = index">
                                                <td>{{retencion.nombre}}</td>

                                                <td>{{retencion.codigo}}</td>

                                                <td>
                                                    <button type="button" class="btn btn-danger" (click)="borrarRetencionCliente(i)" title="Borrar">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </button>
                                                </td>

                                            </tbody>
                                        </table>
                                    </div>

                                    <button type="button" class="btn btn-primary btn-circle btn-lg" title="Agregar retención" data-toggle="modal" data-target="#retencionesModalC" style="margin: 10px;">+</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="agregar()">
                    Agregar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="retencionesModalC" tabindex="-1" role="dialog" aria-labelledby="retencionesModalLabelC" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="retencionesModalLabelC">Agregar retención</h5>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="input-field col s12" style="margin: 4px;">
                        <input id="retencion" type="text" placeholder="Retención" aria-describedby="basic-addon1" class="form-control validate filter-input" [(ngModel)]=query (keyup)=filter()>
                    </div>
                    <div class="suggestions" *ngIf="filteredList.length > 0">
                        <div class="col" style="overflow-y: scroll;">
                            <table class="table">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Codigo</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let retencion of filteredList">
                                    <td>
                                        <div (click)="select(retencion)">{{retencion.nombre}}</div>
                                    </td>

                                    <td>
                                        <div (click)="select(retencion)">{{retencion.codigo}}</div>
                                    </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="agregarRetencion()">
                    Agregar
                </button>
            </div>
        </div>
    </div>
</div>
