<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Unidad</th>
            <th>Stock Min</th>
            <th>Stock Max</th>
            <th>Embolsado (default)</th>
            <th>Porcentaje Merma</th>
            <th>Precio Venta</th>
            <th>Componentes</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody *ngFor="let productoTerminado of productosTerminados">
        <td>{{productoTerminado.nombre}}</td>
        <td>{{productoTerminado.cantidad}}</td>
        <td>{{productoTerminado.unidad}}</td>
        <td>{{productoTerminado.stockMin}}</td>
        <td>{{productoTerminado.stockMax}}</td>
        <td>{{productoTerminado.embolsadoCantDefault}}</td>
        <td *ngIf="productoTerminado.porcentajeMerma">{{productoTerminado.porcentajeMerma}}%</td>
        <td *ngIf="!productoTerminado.porcentajeMerma"></td>
        <td *ngIf="productoTerminado.precioVenta">${{productoTerminado.precioVenta}}</td>
        <td *ngIf="!productoTerminado.precioVenta"></td>
        <td>
            <div class="row" style="margin: 0 auto">
                <button type="button" class="btn btn-warning" (click)="componentes(productoTerminado._id)" title="Definir componentes" data-toggle="modal" data-target="#componentesModal">
                    <i class="fa fa-eyedropper" aria-hidden="true"></i>
                </button>
            </div>
        </td>
        <td>
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-success" (click)="modificar(productoTerminado)" title="Modificar" data-toggle="modal" data-target="#modificarModal">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                </div>

                <div class="col-md-6">
                    <button type="button" class="btn btn-danger" (click)="borrar(productoTerminado._id)" title="Borrar">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </td>
    </tbody>
</table>

<!-- Modal MODIFICAR PROD TERMINADO -->
<div class="modal fade" id="modificarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelE" aria-hidden="true" *ngIf="mostrarModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelE">Modificar producto terminado</h5>
            </div>
            <div class="modal-body">
                <div class="container">

                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#datos" role="tab">Datos Producto Terminado</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#retenciones" role="tab">Retenciones</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="datos" role="tabpanel">
                            <div class="form-group row">
                                <div class="col-4">
                                    <label for="example-text-input" class="col-form-label">Tasa Impositiva</label>
                                </div>
                                <div class="col-8">
                                    <select class="form-control" id="porcentajeIVA" [(ngModel)]="tasaImpositiva">
                                        <option>IVA-0%</option>
                                        <option>IVA-10.5%</option>
                                        <option>IVA-21%</option>
                                        <option>IVA-27%</option>
                                    </select>
                                </div>
                            </div>

                            <input type="text" class="form-control" placeholder="Nombre" aria-describedby="basic-addon1" style="margin-bottom: 4px;" [(ngModel)]="nombre">

                            <input type="number" class="form-control" placeholder="Cantidad" aria-describedby="basic-addon1" style="margin-bottom: 4px;" min="1" onkeypress="return validateChar(event)" [(ngModel)]="cantidad">

                            <input type="text" class="form-control" placeholder="Unidad" aria-describedby="basic-addon1" style="margin-bottom: 4px;" min="1" [(ngModel)]="unidad">
                            <input type="number" class="form-control" placeholder="Stock Min" aria-describedby="basic-addon1" style="margin-bottom: 4px;" min="1" onkeypress="return validateChar(event)" [(ngModel)]="stockMin">

                            <input type="number" class="form-control" placeholder="Stock Max" aria-describedby="basic-addon1" style="margin-bottom: 4px;" min="1" onkeypress="return validateChar(event)" [(ngModel)]="stockMax">

                            <input type="number" class="form-control" placeholder="Embolsado (default)" aria-describedby="basic-addon1" style="margin-bottom: 4px;" min="1" onkeypress="return validateChar(event)" [(ngModel)]="embolsado">

                            <input type="number" class="form-control" placeholder="Porcentaje Merma (ej: 10 => equivale 10%)" aria-describedby="basic-addon1" style="margin-bottom: 4px;" min="0" max="100" onkeypress="return validateChar(event)" [(ngModel)]="porcentajeMerma">

                            <input type="number" step="0.01" class="form-control" placeholder="Precio Venta" aria-describedby="basic-addon1" style="margin-bottom: 4px;" min="1" onkeypress="return validarPrecioVenta(event)" [(ngModel)]="precioVenta">
                        </div>

                        <div class="tab-pane" id="retenciones" role="tabpanel">
                            <div class="container">
                                <div class="row" style="margin: 4px;">
                                    <div class="col" style="overflow-y: scroll;">
                                        <table class="table">
                                            <thead class="thead-inverse">
                                                <tr>
                                                    <th>Nombre</th>
                                                    <th>Codigo</th>
                                                    <th>Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let retencion of retencionesCliente; let i = index">
                                                <td>
                                                    <div (click)="select(retencion)">{{retencion.nombre}}</div>
                                                </td>

                                                <td>
                                                    <div (click)="select(retencion)">{{retencion.codigo}}</div>
                                                </td>

                                                <td>
                                                    <button type="button" class="btn btn-danger" (click)="borrarRetencionCliente(i)" title="Borrar">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </button>
                                                </td>

                                            </tbody>
                                        </table>
                                    </div>

                                    <button type="button" class="btn btn-primary btn-circle btn-lg" title="Agregar retención" data-toggle="modal" data-target="#retencionesModal" style="margin: 10px;">+</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="guardarModificaciones()">
                    Guardar modificaciones
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal COMPONETES-->
<div class="modal fade" id="componentesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" [hidden]="!mostrarModal">
    <!-- hidden es true si mostrarModal es false-->
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="componentes-modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Lista de Porcentajes</h5>
            </div>
            <div class="modal-body">
                <div class="container">
                    <label for="text" style="margin-top: 8px;">
                        <strong>Componentes seleccionados:</strong>
                    </label>
                    <span *ngFor="let componente of componentesDisponibles">
                        <div *ngIf="!fueSeleccionado(componente._id)">
                            <input type="checkbox" #cv (change)="onChange(componente._id, componente.nombre, 0, cv.checked)">
                            {{componente.nombre}}
                            <input *ngIf="cv.checked == true" type="number" placeholder="Ingrese porcentaje" #porcentaje (keyup)="onPorcentajeChange(porcentaje.value, componente._id)" (change)="onPorcentajeChange(porcentaje.value, componente._id)">
                            <br>
                        </div>

                        <div *ngIf="fueSeleccionado(componente._id)">
                            <input type="checkbox" checked #cv (change)="onChange(componente._id, componente.nombre, 0, cv.checked)">
                            {{componente.nombre}}
                            <input
                                *ngIf="cv.checked == true"
                                type="number"
                                placeholder="Ingrese porcentaje"
                                [value]="getPorcentaje(componente._id)"
                                #porcentaje
                                (keyup)="onPorcentajeChange(porcentaje.value, componente._id)"
                                (change)="onPorcentajeChange(porcentaje.value, componente._id)">
                            <br>
                        </div>

                    </span>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container">
                    <div class="row" style="margin: 0 auto">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="guardarComponentes()">
                                Guardar componentes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="retencionesModal" tabindex="-1" role="dialog" aria-labelledby="retencionesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="retencionesModalLabel">Agregar retención</h5>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="input-field col s12" style="margin: 4px;">
                        <input id="retencion" type="text" placeholder="Retención" aria-describedby="basic-addon1" class="form-control validate filter-input" [(ngModel)]=query (keyup)=filter()>
                    </div>
                    <div class="suggestions" *ngIf="filteredList.length > 0">
                        <div class="col" style="overflow-y: scroll;">
                            <table class="table">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Codigo</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let retencion of filteredList">
                                    <td>
                                        <div (click)="select(retencion)">{{retencion.nombre}}</div>
                                    </td>

                                    <td>
                                        <div (click)="select(retencion)">{{retencion.codigo}}</div>
                                    </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="agregarRetencion()">
                    Agregar
                </button>
            </div>
        </div>
    </div>
</div>
