<div class="container">

<div class="row"> <!-- inserto dentro del container una fila  -->
    
    <div class="col-md-12">
        <nav-menu [origen]="'deshacer'"></nav-menu>
    </div>
    
</div>

<table class="table">
<thead class="thead-inverse">
    <tr>
    <th>Fecha de Fabricación</th>
    <th>Nombre</th>
    <th>Cantidad Fabricada</th>
    <th>Unidad</th>
	<th>Acciones</th>
	<th> <input [(ngModel)]="afectaStock" type="checkbox"> Afecta Stock</th>
    </tr>
</thead>
<tbody *ngFor="let producto of productosFinal">
    <td>{{producto.fecha}}</td>
    <td>{{producto.materiaPrimaFinal ? producto.materiaPrimaFinal.nombre : (producto.prodSemiFinal ? producto.prodSemiFinal.nombre : producto.prodTermFinal.nombre )}}</td>
    <td>{{producto.cantidadFabricada}}</td>
	<td>{{producto.materiaPrimaFinal ? producto.materiaPrimaFinal.unidad : (producto.prodSemiFinal ? producto.prodSemiFinal.unidad : producto.prodTermFinal.unidad )}}</td>
    <td>
        <button type="button" class="btn btn-success" (click)="verProducto(producto)" title="Modificar"
        data-toggle="modal" data-target="#infoModal" >
          <i class="fa fa-eye" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-danger" (click)="borrar(producto)" title="Borrar" >
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
    </td>
</tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Información</h5>
            </div>
            <div class="modal-body">
				<div class="container">
					<table class="table">
						<thead class="thead-inverse">
							<tr>
							<th>Nombre</th>
							<th>Cantidad Usada</th>
							<th>Unidad</th>
							</tr>
						</thead>
					<tbody *ngFor="let productoU of productosUsado">
						<td>{{productoU.materiaPrimaUsada ? productoU.materiaPrimaUsada.nombre : (productoU.prodSemiUsado ? productoU.prodSemiUsado.nombre : productoU.prodTermUsado.nombre )}}</td>
						<td>{{productoU.cantidadUsada}}</td>
						<td>{{productoU.materiaPrimaUsada ? productoU.materiaPrimaUsada.unidad : (productoU.prodSemiUsado ? productoU.prodSemiUsado.unidad : productoU.prodTermUsado.unidad )}}</td>
					</tbody>
					</table>
				</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelar()">Cancelar</button>
            </div>
        </div>
    </div>
</div>
