<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Plantilla de FACTURA</title>
        <style>
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-weight: normal;
            }

        </style>
    </head>
    <body>
        <div class="container">
            <div style="position:absolute;
                     left:478px;z-index:1002;
                     background-color:#FFFFFF">
                <div style="width:80px;height:80px;border-style:solid;border-width:2px;">
                    <h1 style="line-height:8px;text-align:center;font-size:320%;margin-bottom:10px;margin-top:25px;">{{:datos_factura.tipoFactura}}</h1>
                    <h3 style="text-align:center;margin-top:30px;">
                        <small>{{:codigoComprobante}}</small>
                    </h3>
                </div>
                <h4 style="text-align:center;">Documento<br/>
                    no válido<br/>como factura</h4>
            </div>
            <table style="width:1024px;border-style:solid;border-color:#000000;border-width:2px;padding-left:20px;padding-right:20px;">
                <tr>
                    <td style="width:50%;">
                        <h1 style="text-align:center;"><img alt="" src="{{:img_path}}"/></h1>
                        <h2 style="text-align:center;"></b>{{:emisor.razonSocial}}<br/>
                    </b>{{:emisor.domicilioComercial}}<br/>
                </b>{{:emisor.categoriaFiscal}}</h2>
        </td>
        <td style="width:50%;text-align:left;padding-left:70px;padding-right:20px;">
            <h1 style="width:100%; text-align:left;">
                <b>REMITO</b>
            </h1>
            <h4>
                <b>Comp. Nro:
                </b>{{:datos_factura.numeroFactura}}
            </h4>
            <h4>
                <b>Fecha de Emisión:
                </b>{{:fechaEmision}}</h4>
            <h4>
                <b>CUIT:
                </b>{{:emisor.cuit}}</h4>
            <h4>
                <b>Ingresos Brutos:
                </b>{{:emisor.ingresosBrutos}}</h4>
            <h4>
                <b>Fecha de Inicio de Actividades:
                </b>{{:fechaInicioActividades}}</h4>
        </td>
    </tr>
</table>
<table style="margin-top:5px;width:1024px;border-style:solid;border-color:#000000;border-width:2px;padding-left:20px;padding-right:20px;">
    <tr style="width:100%">
        <td style="width:50%;">
            <b>Apellido y Nombre/Razón Social:
            </b>{{:receptor.razonSocial}}
        </td>
        <td style="width:50%;">
            <b>CUIT:
            </b>{{:receptor.cuit}}
        </td>
    </tr>
    <tr style="width:100%">
        <td style="width:50%;">
            <b>Condición frente al IVA:
            </b>{{:receptor.categoriaFiscal}}
        </td>
        <td style="width:50%;">
            <b>Domicilio Comercial:
            </b>{{:receptor.domicilioComercial}}
        </td>
    </tr>
</table>
<div style="margin-top:5px;width:1020px;border-style:solid;border-color:#000000;border-width:2px;">
    <h3 style="padding-left:20px;">Remitimos a ud. lo siguiente:</h3>
</div>
<div style="margin-top:5px;width:1020px;height:700;border-style:solid;border-color:#000000;border-width:2px;">
    <table style="width:100%;padding-left:20px;padding-right:20px;padding-top:5px;font-size:120%;">
        <thead style="">
            <tr style="background-color: #DDDDDD;width:100%;">
                <th style="width:10%;">Cantidad</th>
                <th style="width:90%;">Descripción</th>
            </tr>
        </thead>
        <tbody>
            {{for items}}
            <tr style="width:100%;">
                <td style="width:10%; text-align:right;">{{:cantidad}}</td>
                <td style="width:90%; padding-left: 10px;">{{:nombre}}</td>
            </tr>
        {{/for}}
    </tbody>
</table>
</div>
<table style="margin-top:5px;padding-bottom:20px;width:1024px;border-style:solid;border-color:#000000;border-width:2px;padding-left:20px;padding-right:20px;">
<tr style="width:100%; height: 40px;"></tr>
<tr style="width:100%;">
    <td style="width:50%;">
        <b style="font-size:120%;">Aclaración:
            <span style="margin-left:30px;">_________________________</span>
        </b>

    </td>
    <td style="width:50%;">
        <b style="font-size:120%;">Recibí Conforme:
            <span style="margin-left:30px;">_________________________</span>
        </b>
    </td>
</tr>
</table>
<table style="margin-top:5px;width:1024px; height: 120px;border-style:solid;border-color:#000000;border-width:2px;padding-left:20px;padding-right:20px;padding-top:10px;">
<tr style="width:100%">
    <td style="width:50%;">
        <b>
            <span style="width:50%;">TRANSPORTISTA:</span>
            <span style="margin-left:30px;">_____________________________</span>
        </b>
    </td>
    <td style="width:50%;"></td>
</tr>
<tr style="width:100%">
    <td style="width:50%;">
        <b>
            <span style="width:50%;">DOMICILIO:</span>
            <span style="margin-left:70px;">_____________________________</span>
        </b>
    </td>
    <td style="width:50%;">
        <b>
            CUIT:<span style="margin-left:30px;">_____________________________</span>
        </b>
    </td>
</tr>
</table>
</div>
</body>
</html>
