<div class="row">
	<div class="col-md-4">
		<h2>Materias Prima</h2>
		<div *ngFor="let informe of informeEstadoStock;">
			<stock-item *ngIf="informe.tipo==1" [nombre]="informe.nombre" [min]="informe.stockMin" [max]="informe.stockMax" [actual]="informe.cantidad"></stock-item>
		</div>
	</div>
	<div class="col-md-4">
		<h2>Semi Procesados</h2>
		<div *ngFor="let informe of informeEstadoStock;">
			<stock-item *ngIf="informe.tipo==2" [nombre]="informe.nombre" [min]="informe.stockMin" [max]="informe.stockMax" [actual]="informe.cantidad"></stock-item>
		</div>
	</div>
	<div class="col-md-4">
		<h2>Productos Terminados</h2>
		<div *ngFor="let informe of informeEstadoStock;">
			<stock-item *ngIf="informe.tipo==3" [nombre]="informe.nombre" [min]="informe.stockMin" [max]="informe.stockMax" [actual]="informe.cantidad"></stock-item>
		</div>
	</div>
</div>
