<div>
	<div class="card" style="padding: 10px 5px 10px 5px;margin-bottom: 15px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09)">
		<h6 style="margin-bottom:2px; font-size: 110%; font-weight: bold">{{nombre}}</h6>
		<p style="margin-bottom:0px">Stock
			<b [ngClass]="estadoColor()">{{estadoTexto()}}</b>
		</p>
		<p style="margin-bottom:0px">Min:
			{{min}}
			Máx:
			{{max}}
			<b>Actual:
				{{actual}}</b>
		</p>
		<div class="progress" style="height: 8px; margin-bottom: 8px; margin-top: 6px;">
			<div class="progress-bar" style="height: 8px; margin-bottom:10px;" [ngClass]="estadoColorBarra()" role="progressbar" [style.width]="((actual+1)*100)/max+'%'" aria-valuenow="actual" aria-valuemin="0" aria-valuemax="max"></div>
		</div>
		<modificar-stock-optimo *ngIf="optimo_actual != valor_optimo()" [min]="min" [max]="max" [optimo_actual]="optimo_actual" [valor_optimo]="valor_optimo()" [recomendacion]="recomendacion()" [nombre]="nombre" [cantidad]="actual"></modificar-stock-optimo>
		<h5 *ngIf="(optimo_actual == valor_optimo()) && actual < optimo_actual">
			<small>(Se compró menos que el óptimo actual)</small>
		</h5>
	</div>
</div>
