<div class="container">

	<div class="row"> <!-- inserto dentro del container una fila  -->
		
		<div class="col-md-12">
			<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
			  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <a class="navbar-brand" href="#">Home</a>
			  
			  	<ul class="navbar-nav mr-auto">
					<li class="nav-item">
					    <a class="nav-link" href="clientes.html">Clientes</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="proveedores.html">Proveedores</a>
					</li>
					<li class="nav-item active dropdown">
					    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
							Productos
						</a>
					    <div class="dropdown-menu" aria-labelledby="Preview">
					        <a class="dropdown-item" href="materiasPrimas.html">Materias Primas</a>
					        <a class="dropdown-item active" href="productosSemiProcesados.html">Semi-Procesados</a>
					        <a class="dropdown-item" href="productosTerminados.html">Terminados</a>
					    </div>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="produccion.html">Producción</a>
					</li>
				</ul>

			</nav>
		</div>
		
	</div>

	<div class="row">
	
		<div class="col-md-11" style="padding-right: 0px;">
			<tabla-semi-procesados></tabla-semi-procesados>
		</div>
		
		<div class="col-md-1" style="padding-left: 5px; padding-right: 0px;">
			<agregar-semi-procesado></agregar-semi-procesado>
		</div>
	
	</div>
	
</div>