<style>
	input[type="date"]::-webkit-inner-spin-button,
	input[type="date"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input[type="number"] {
		-moz-appearance: textfield;
	}
	input[type="number"],
	input[type="text"] {
		width: 100px;
	}
	#btnBuscarFacturas {
		margin-left: 20px;
		cursor: pointer;
	}
</style>
<div class="row">
	<div class="col-md-12">
		<label for="#nfact">Nro. Fact.:</label>
		<input id="nfact" type="number" [(ngModel)]="searchFields.numeroFactura"/>
		<label for="#desde">Desde:</label>
		<input id="desde" type="text" (focus)="toogleShowDesde(true)" [(ngModel)]="searchFields.desde"/>
		<label for="#hasta">Hasta:</label>
		<input id="hasta" type="text" (focus)="toogleShowHasta(true)" [(ngModel)]="searchFields.hasta"/>
		<datepicker-flourapp (dateSelected)="fecha($event)" *ngIf="showDesde" tipo="desde"></datepicker-flourapp>
		<datepicker-flourapp (dateSelected)="fecha($event)" *ngIf="showHasta" tipo="hasta"></datepicker-flourapp>
		<button id="btnBuscarFacturas" class="btn btn-primary pull-right" type="button" title="Buscar" (click)="doSearch($event)">
			<i class="fa fa-search" aria-hidden="true">
				Buscar</i>
		</button>
	</div>
	<div class="row">
		<div class="col-md-12"></div>
	</div>
</div>
<script></script>
